body {
  background-color: #202020;
  color: #e6e1dc;
}

::selection {
  background-color: transparentize(#ddf0ff, 0.80);
}

.key {
  color: #9999cc;
}

.number {
  color: #78Cf8a;
}

.string {
  color: #8f9d6a;
}

.bool, .null {
  color: #cf7Ea9;
}

.brace {
  color: #24c2c7;
}

.collapsed:after {
  font-style: italic;
  color: #555;
}
