$foreground: #e6e1dc;

body {
  background-color: #161616;
  color: $foreground;
}

::selection {
  background-color: #494836;
}

.key {
  color: #997744;
}

.number {
  color: #58c554;
}

.string {
  color: #58c554;
}

.bool, .null {
  color: #fdc251;
}

.brace {
  color: $foreground;
}

.collapsed:after {
  font-style: italic;
  color: #555;
}
