$foreground: black;

body {
  background-color: white;
  color: $foreground;
}

::selection {
  background-color: #b5d5ff;
}

.key {
  color: #318495;
}

.number {
  color: #0000cd;
}

.string {
  color: #1a1aa6;
}

.bool, .null {
  color: #6d79de;
}

.brace {
  color: $foreground;
}

#gutter {
  background: #ebebeb;
}

[line-number]:before {
  color: #333;
}

.collapsed:after {
  color: #236e24;
}
