body {
  background-color: white;
  color: black;
}

::selection {
  background-color: #bdd5fc;
}

.number {
  color: #46a609;
}

.string {
  color: #5d90cd;
}

.bool, .null {
  color: #39946a;
}

.collapsed:after {
  color: #bcc8ba;
}
