$foreground: #404040;

body {
  background-color: white;
  color: $foreground;
}

::selection {
  background-color: #b5d5ff;
}

.key {
  color: #004080;
}

.number {
  color: #000040;
}

.string {
  color: #800080;
}

.bool, .null {
  color: #ff9c00;
}

.brace {
  color: $foreground;
}

#gutter {
  background: #ebebeb;
}

[line-number]:before {
  color: #333;
}

.collapsed:after {
  color: #4c886b;
}
