$foreground: #080808;

body {
  background-color: #f9f9f9;
  color: $foreground;
}

::selection {
  background-color: transparentize(#275fff, 0.70);
}

.key {
  color: #234a97;
}

.number, .bool, .null {
  color: #811f24;
}

.string {
  color: #0b6125;
}

.brace {
  color: $foreground;
}

#gutter {
  background: #ebebeb;
}

[line-number]:before {
  color: #333;
}

.collapsed:after {
  font-style: italic;
  color: #5a525f
}
