$foreground: black;

body {
  background-color: #fff;
  color: $foreground;
}

::selection {
  background-color: #b5d5ff;
}

.key {
  color: #7f0055;
}

.number {
  color: darkblue;
}

.string {
  color: #2a00ff;
}

.bool, .null {
  color: #5848f6;
}

.brace {
  color: $foreground;
}

#gutter {
  background: #ebebeb;
  border-right: 1px solid #9f9f9f;
}

[line-number]:before {
  color: #888;
}

.collapsed:after {
  color: #719682;
}
