body {
  background-color: #0b0b0b;
  color: #0f0
}

::selection {
  background-color: transparentize(#ddf0ff, 0.80);
}

.key {
  color: #00f868;
}

.string {
  color: #10f060
}

.bool, .null {
  color: #10f0a0
}

.collapsed:after {
  font-style: italic;
  color: #00e060;
}
