$foreground: #93a1a1;

body {
  background-color: #002b36;
  color: $foreground;
}

::selection {
  background-color: transparentize(white, 0.9);
}

.key {
  color: #268bd2;
}

.number {
  color: #d33682;
}

.string {
  color: #2aa198;
}

.bool, .null {
  color: #b58900;
}

.brace {
  color: $foreground;
}

#gutter {
  background: #01313f;
}

[line-number]:before {
  color: #d0edf7;
}

.collapsed:after {
  font-style: italic;
  color: #657b83;
}
