$foreground: #586e75;

body {
  background-color: #fdf6e3;
  color: $foreground;
}

::selection {
  background-color: transparentize(#073643, 0.91);
}

.key {
  color: #268bd2;
}

.number {
  color: #d33682;
}

.string {
  color: #2aa198;
}

.bool, .null {
  color: #b58900
}

.brace {
  color: $foreground;
}

#gutter {
  background: #fbf1d3;
}

[line-number]:before {
  color: #333;
}

.collapsed:after {
  color: #93a1a1;
}
