body {
  background-color: #fff;
  color: black;
}

::selection {
  background-color: #b5d5ff;
}

.key {
  color: #318495;
}

.string {
  color: #f00;
}

.bool, .null {
  color: #979797;
}

.brace {
  color: #808080;
}

#gutter {
  background: #ebebeb;
}

[line-number]:before {
  color: #333;
}

.collapsed:after {
  color: #008000;
}
