body {
  background-color: #000;
  color: #dedede;
}

::selection {
  background-color: #424242;
}

.key {
  color: #d54e53;
}

.number, .bool, .null {
  color: #e78c45;
}

.string {
  color: #b9ca4a;
}

.collapsed:after {
  color: #969896;
}
