$foreground: white;

body {
  background-color: #002451;
  color: $foreground;
}

::selection {
  background-color: #003f8e;
}

.key {
  color: #ff9da4;
}

.number, .bool, .null {
  color: #ffc58f;
}

.string {
  color: #d1f1a9;
}

.brace {
  color: $foreground;
}

#gutter {
  background: #00204b;
}

[line-number]:before {
  color: #7388b5;
}

.collapsed:after {
  color: #7285b7;
}
