body {
  background-color: #1d1f21;
  color: #c5c8c6;
}

::selection {
  background-color: #373b41;
}

.key {
  color: #c66;
}

.number, .bool, .null {
  color: #de935f;
}

.string {
  color: #b5bd68;
}

.collapsed:after {
  color: #969896;
}
