$foreground: #ccc;

body {
  background-color: #2d2d2d;
  color: $foreground;
}

::selection {
  background-color: #515151;
}

.key {
  color: #f2777a;
}

.number, .bool, .null {
  color: #f99157;
}

.string {
  color: #9c9;
}

.brace {
  color: $foreground;
}

#gutter {
  background: #272727;
}

[line-number]:before {
  color: $foreground;
}

.collapsed:after {
  color: #999;
}
