$background: #f9f9f9;
$foreground: #080808;

body {
  background-color: $background;
  color: $foreground;
}

#formattedJson, #jsonpOpener, #jsonpCloser {
  color: $foreground;
}

.key {
  color: #234a97;
}

.number {
  color: #811f24;
}

.string {
  color: #0b6125;
}

.bool {
  color: #811f24;
}

.null {
  color: #811f24;
}

.brace {
  color: $foreground;
}
